---
import Base from "../layouts/Base.astro";
import Curtain from "../components/Curtain.astro";
import Invitation from "../components/Invitation.astro";
import DateReveal from "../components/DateReveal.astro";
import Countdown from "../components/Countdown.astro";
import Menu from "../components/Menu.astro";
import DressCode from "../components/DressCode.astro";
import Registry from "../components/Registry.astro";
import Directions from "../components/Directions.astro";
import RSVP from "../components/RSVP.astro";
import ThankYou from "../components/ThankYou.astro";
import AudioToggle from "../components/AudioToggle.astro";
---

<Base>
  <Curtain />

  <main>
    <Invitation />
    <DateReveal />
    <Countdown />
    <Menu />
    <DressCode />
    <Registry />
    <Directions />
    <RSVP />
    <ThankYou />
  </main>

  <AudioToggle />
</Base>
